work flow

1. data
2. data pre processing
3. data analysis
4. train-test-split
5. logistic regression model
6. evaluation

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# creditdata = pd.read_csv('/content/credit_data.csv')
credit_data = pd.read_csv('/content/credit_data.csv', on_bad_lines='skip')

In [ ]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
39697,39927,-1.466679,2.425732,0.877724,3.950765,0.762477,1.162748,0.575625,-0.288354,-1.357990,...,0.186051,0.571010,-0.107517,-0.754306,-0.752828,0.113179,-2.079421,-0.809173,1.50,0.0
39698,39927,-0.523165,-0.100021,0.892966,-1.900405,-0.156870,-0.783894,0.917683,-0.308345,-1.305284,...,-0.082504,-0.414677,-0.063392,-0.087455,-0.303383,-0.682889,-0.178417,-0.137169,100.92,0.0
39699,39928,-2.768425,-1.007072,2.151127,0.117797,1.283178,1.869731,-0.562240,0.820374,0.348797,...,-0.182963,0.778210,0.904077,-1.288631,0.212441,0.483975,-0.027614,-0.582813,11.99,0.0
39700,39928,1.201327,0.158614,-0.325263,0.471667,0.086446,-0.770357,0.422151,-0.205277,-0.451865,...,0.027664,-0.018485,-0.199382,0.053605,0.683829,0.428416,-0.077342,-0.006394,45.00,0.0
39701,39929,1.097669,-1.315782,0.659681,-0.683915,-1.342612,0.332629,-1.110900,0.194811,-0.248825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39702 entries, 0 to 39701
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    39702 non-null  int64
 1   V1      39702 non-null  float64
 2   V2      39702 non-null  float64
 3   V3      39702 non-null  float64
 4   V4      39702 non-null  float64
 5   V5      39702 non-null  float64
 6   V6      39702 non-null  float64
 7   V7      39702 non-null  float64
 8   V8      39702 non-null  float64
 9   V9      39702 non-null  float64
 10  V10     39702 non-null  float64
 11  V11     39702 non-null  float64
 12  V12     39702 non-null  float64
 13  V13     39701 non-null  float64
 14  V14     39701 non-null  float64
 15  V15     39701 non-null  float64
 16  V16     39701 non-null  float64
 17  V17     39701 non-null  float64
 18  V18     39701 non-null  float64
 19  V19     39701 non-null  float64
 20  V20     39701 non-null  float64
 21  V21     39701 non-null  float64
 22  V22     39701 non-null  float64
 23  V23     39701 non-null  float64
 24  V24     39701 non-null  float64
 25  V25     39701 non-null  float64
 26  V26     39701 non-null  float64
 27  V27     39701 non-null  float64
 28  V28     39701 non-null  float64
 29  Amount  39701 non-null  float64
 30  Class   39701 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 9.4 MB

In [ ]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_data['Class'].value_counts()

0.0    39597
1.0      104
Name: Class, dtype: int64

Results shows that the data set is highly imbalance

0--> legit

1--> fraudulent

In [ ]:
#seprating the legit and fraudulent transactioni
legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(39597, 31)
(104, 31)

In [ ]:
legit.Amount.describe()

count    39597.000000
mean        87.420700
std        234.514383
min          0.000000
25%          7.420000
50%         23.500000
75%         79.000000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     104.000000
mean       97.070769
std       255.012160
min         0.000000
25%         1.000000
50%         3.775000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#compare the values for both transactions
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,25514.725686,-0.194310,0.036967,0.744162,0.174545,-0.217414,0.107151,-0.093182,0.031783,0.222434,...,0.046047,-0.031386,-0.111706,-0.039470,0.007851,0.135895,0.022779,0.005987,0.003920,87.420700
1.0,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.663205,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769

Under Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions.

Number of Fraudulent Transactions --> 492

In [ ]:
legit.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,...,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.000000,39597.0
mean,25514.725686,-0.194310,0.036967,0.744162,0.174545,-0.217414,0.107151,-0.093182,0.031783,0.222434,...,-0.031386,-0.111706,-0.039470,0.007851,0.135895,0.022779,0.005987,0.003920,87.420700,0.0
std,12629.388641,1.728441,1.502340,1.296174,1.363158,1.308293,1.298056,1.126234,1.166527,1.210532,...,0.748278,0.637121,0.541568,0.593343,0.431714,0.505061,0.379377,0.296936,234.514383,0.0
min,0.000000,-28.344757,-40.978852,-27.747084,-5.172595,-42.147898,-23.496714,-26.548144,-41.484823,-4.532523,...,-20.262054,-8.593642,-26.751119,-2.836627,-7.495741,-1.438650,-8.567638,-9.617915,0.000000,0.0
25%,14747.000000,-0.962490,-0.526669,0.239256,-0.719932,-0.832563,-0.634891,-0.593995,-0.152624,-0.550763,...,-0.236935,-0.533664,-0.178174,-0.325296,-0.127897,-0.330586,-0.063424,-0.006943,7.420000,0.0
50%,30625.000000,-0.230343,0.098694,0.820936,0.179525,-0.266314,-0.156664,-0.071457,0.047650,0.093742,...,-0.077636,-0.086596,-0.051550,0.060992,0.176081,-0.063661,0.008209,0.021351,23.500000,0.0
75%,35631.000000,1.161037,0.738903,1.449635,1.063883,0.297494,0.489690,0.435270,0.312964,0.933545,...,0.099128,0.299013,0.076787,0.399779,0.420310,0.302110,0.084238,0.075337,79.000000,0.0
max,39928.000000,1.960497,14.845545,4.101716,13.143668,34.099309,22.529298,36.677268,17.573712,10.392889,...,22.614889,5.805795,17.297845,4.014444,5.525093,3.517346,11.135740,5.678671,7879.420000,0.0

In [ ]:
fraud.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,...,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.0
mean,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769,1.0
std,10348.117012,9.386856,4.832232,9.681368,2.876114,6.936827,1.639228,7.192931,6.216567,2.289303,...,1.297809,0.916553,2.109274,0.519548,1.191922,0.379275,1.106494,0.654091,255.012160,0.0
min,406.000000,-30.552380,-5.198360,-31.103685,0.817253,-22.105532,-4.977692,-21.922811,-3.277535,-7.175097,...,-2.475962,-2.288686,-19.254328,-1.632653,-4.781606,-0.657488,-3.908080,-1.869290,0.000000,1.0
25%,11089.000000,-15.503928,2.468074,-20.623644,3.771144,-9.554165,-3.330281,-15.503790,0.129454,-4.182954,...,0.196468,-0.900914,-0.658814,-0.563723,-0.327663,-0.210083,0.276220,0.038451,1.000000,1.0
50%,20691.000000,-3.359030,4.139352,-6.083413,6.027905,-2.610551,-2.328296,-4.999789,1.195871,-3.497521,...,0.664811,-0.272828,-0.139260,-0.060348,0.202250,0.256896,0.736431,0.307065,3.775000,1.0
75%,28666.500000,-0.414863,8.848901,-3.225874,6.567806,-0.407943,-1.214564,-1.622276,4.072307,-1.051742,...,1.757424,0.267286,0.360283,0.144960,1.329638,0.520852,1.577210,0.482840,99.990000,1.0
max,39729.000000,1.234235,16.713389,2.041003,11.927512,3.738853,3.628382,5.431271,20.007208,2.820829,...,2.839596,1.745315,1.752227,0.645545,2.208209,0.816762,3.052358,1.108933,1809.680000,1.0

In [ ]:
#building a sample data set containing similar distribution of legit and transaction
legit_sample = legit.sample(n=492)

In [ ]:
print(legit_sample.shape)

(492, 31)

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    104
Name: Class, dtype: int64

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
33131,37103,-0.921732,0.080744,1.200659,-2.217900,0.100078,-1.544628,0.855621,-0.332452,-1.523350,...,-0.695604,-1.707935,0.316327,0.333977,-0.392004,0.269469,-0.127938,0.120846,31.95,0.0
28083,34846,0.989280,-0.872357,0.714635,0.014965,-0.837503,0.796566,-0.812352,0.434269,1.182616,...,-0.157664,-0.471900,-0.055444,-0.626479,0.044274,0.992029,-0.048623,0.007356,103.41,0.0
39261,39767,1.012776,-0.756692,0.468606,-0.155811,-0.306044,1.243997,-0.644278,0.335878,0.859286,...,-0.165900,-0.403768,-0.179419,-1.232712,0.211338,1.024170,-0.036130,0.008065,116.68,0.0
862,654,-1.503011,-1.386189,2.339168,1.714979,1.666073,0.241151,-1.017505,0.439214,0.635640,...,-0.161417,-0.349421,0.281749,-0.300051,-0.446739,-0.541485,0.020377,-0.029497,15.79,0.0
17980,29086,1.252733,0.293642,0.053431,0.516684,0.076941,-0.295868,-0.004559,-0.029834,0.067626,...,-0.296023,-0.815108,0.093337,-0.504924,0.214941,0.157597,-0.007207,0.021775,0.89,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
30473,35942,-4.194074,4.382897,-5.118363,4.455230,-4.812621,-1.224645,-7.281328,3.332250,-3.679659,...,1.550473,0.614573,0.028521,0.013704,-0.149512,-0.131687,0.473934,0.473757,14.46,1.0
30496,35953,-4.844372,5.649439,-6.730396,5.252842,-4.409566,-1.740767,-6.311699,3.449167,-5.416284,...,1.194888,-0.845753,0.190674,-0.216443,-0.325033,-0.270328,0.210214,0.391855,111.70,1.0
31002,36170,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,...,1.128641,-0.962960,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,111.70,1.0
33276,37167,-7.923891,-5.198360,-3.000024,4.420666,2.272194,-3.394483,-5.283435,0.131619,0.658176,...,-0.734308,-0.599926,-4.908301,0.410170,-1.167660,0.520508,1.937421,-1.552593,12.31,1.0
39183,39729,-0.964567,-1.643541,-0.187727,1.158253,-2.458336,0.852222,2.785163,-0.303609,0.940006,...,0.447180,0.536204,1.634061,0.203839,0.218749,-0.221886,-0.308555,-0.164500,776.83,1.0

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,24876.152439,-0.084838,-0.015504,0.774344,0.077311,-0.175373,0.178743,-0.046413,0.003094,0.162235,...,0.085806,-0.046568,-0.114574,-0.027650,0.001057,0.125575,0.031004,0.015307,0.011020,92.966260
1.0,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.663205,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
33131  37103 -0.921732  0.080744  1.200659 -2.217900  0.100078 -1.544628
28083  34846  0.989280 -0.872357  0.714635  0.014965 -0.837503  0.796566
39261  39767  1.012776 -0.756692  0.468606 -0.155811 -0.306044  1.243997
862      654 -1.503011 -1.386189  2.339168  1.714979  1.666073  0.241151
17980  29086  1.252733  0.293642  0.053431  0.516684  0.076941 -0.295868
...      ...       ...       ...       ...       ...       ...       ...
30473  35942 -4.194074  4.382897 -5.118363  4.455230 -4.812621 -1.224645
30496  35953 -4.844372  5.649439 -6.730396  5.252842 -4.409566 -1.740767
31002  36170 -5.685013  5.776516 -7.064977  5.902715 -4.715564 -1.755633
33276  37167 -7.923891 -5.198360 -3.000024  4.420666  2.272194 -3.394483
39183  39729 -0.964567 -1.643541 -0.187727  1.158253 -2.458336  0.852222

             V7        V8        V9  ...       V20       V21       V22  \
33131  0.855621 -0.332452 -1.523350  ... -0.629380 -0.695604 -1.707935
28083 -0.812352  0.434269  1.182616  ...  0.030157 -0.157664 -0.471900
39261 -0.644278  0.335878  0.859286  ...  0.234624 -0.165900 -0.403768
862   -1.017505  0.439214  0.635640  ...  0.491067 -0.161417 -0.349421
17980 -0.004559 -0.029834  0.067626  ... -0.097712 -0.296023 -0.815108
...         ...       ...       ...  ...       ...       ...       ...
30473 -7.281328  3.332250 -3.679659  ...  0.579098  1.550473  0.614573
30496 -6.311699  3.449167 -5.416284  ...  0.284555  1.194888 -0.845753
31002 -6.958679  3.877795 -5.541529  ...  0.299489  1.128641 -0.962960
33276 -5.283435  0.131619  0.658176  ... -2.169811 -0.734308 -0.599926
39183  2.785163 -0.303609  0.940006  ...  1.784449  0.447180  0.536204

            V23       V24       V25       V26       V27       V28  Amount
33131  0.316327  0.333977 -0.392004  0.269469 -0.127938  0.120846   31.95
28083 -0.055444 -0.626479  0.044274  0.992029 -0.048623  0.007356  103.41
39261 -0.179419 -1.232712  0.211338  1.024170 -0.036130  0.008065  116.68
862    0.281749 -0.300051 -0.446739 -0.541485  0.020377 -0.029497   15.79
17980  0.093337 -0.504924  0.214941  0.157597 -0.007207  0.021775    0.89
...         ...       ...       ...       ...       ...       ...     ...
30473  0.028521  0.013704 -0.149512 -0.131687  0.473934  0.473757   14.46
30496  0.190674 -0.216443 -0.325033 -0.270328  0.210214  0.391855  111.70
31002 -0.110045 -0.177733 -0.089175 -0.049447  0.303445  0.219380  111.70
33276 -4.908301  0.410170 -1.167660  0.520508  1.937421 -1.552593   12.31
39183  1.634061  0.203839  0.218749 -0.221886 -0.308555 -0.164500  776.83

[596 rows x 30 columns]

In [ ]:
print(Y)

33131    0.0
28083    0.0
39261    0.0
862      0.0
17980    0.0
        ...
30473    1.0
30496    1.0
31002    1.0
33276    1.0
39183    1.0
Name: Class, Length: 596, dtype: float64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, stratify=Y, random_state=15)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

In [ ]:
train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(train_prediction, Y_train)
print(train_accuracy)

0.9888143176733781

In [ ]:
test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(test_prediction, Y_test)
print(test_accuracy)

0.959731543624161